.header {
    background-color: aqua;
    padding: .05%;
    margin: .5%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 7%;
    justify-content: flex-start;
    margin: .5%;
}

.top-headers {
    display: flex;
    flex-direction: column;
    margin: .5%;
    margin-left: 1%;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: blue;
    margin: .5%;
}

.nav-item {
    text-decoration: none;
    color: white;
    padding: .7%;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    background-color: green;
    font-size: 1.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uname,
.pass {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    padding: 1%;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
}

form input {
    height: 1%;
}

a.nav-item.active {
    background-color: indigo;
}